:root {
  /**
   * colors 
   */

  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --saffron: hsl(45, 91%, 58%);
  --rhythm: hsl(240, 9%, 51%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  /**
   * spacing 
   */

  --px: 30px;
  --py: 60px;

  /**
   * others 
   */

  --default-transition: 0.75s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img,
svg,
ion-icon,
span,
button {
  display: block;
}

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--cultured);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--saffron);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--space-cadet);
}
