.product {
  padding: var(--py) var(--px);
}

.product .section-title {
  margin-bottom: 30px;
}

.product .section-text {
  margin-bottom: 60px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.product-card .img-box {
  position: relative;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.product-card:hover .product-img {
  transform: scale(1.05);
}

.card-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  font-size: 14px;
}

.card-badge ion-icon {
  font-size: 13px;
}

.card-badge.green {
  background: var(--pistachio);
  color: var(--space-cadet);
}

.card-badge.red {
  background: var(--red-orange-crayola);
  color: var(--space-cadet);
}

.product-card .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background: var(--cultured);
  margin-bottom: 15px;
}

.product-card .product-name {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  font-weight: 600;
  padding-left: 15px;
}

.product-card .product-price {
  background: var(--saffron);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--space-cadet);
  font-size: 24px;
  font-weight: 500;
}

.product-card .small {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.product-card .product-text {
  font-size: var(--fs-4);
  color: var(--rhythm);
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.product-card .product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--saffron);
}

.product .btn-primary {
  margin-inline: auto;
}
