/**
 * responsive for larger than 550px
 */

@media (min-width: 550px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 500px;
    margin-inline: auto;
  }
}

/**
 * responsive for larger than 768px
 */

@media (min-width: 768px) {
  :root {
    /**
     * typography
     */

    --fs-1: 30px;
    --fs-2: 20px;
    --fs-4: 18px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 680px;
  }

  /**
   * HERO
   */

  .hero-title {
    width: 90%;
  }

  .hero :is(.btn-primary, .btn-title, .btn-link) {
    --fs-4: 16px;
    margin-bottom: 0;
  }

  .hero-btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  .btn-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  /**
   * PODCAST
   */

  .podcast-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * NEWSLETTER
   */

  .newsletter-card {
    padding: 50px;
  }

  .card-form {
    position: relative;
  }

  .newsletter-card .btn-primary {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    width: 140px;
  }

  .newsletter-card .input-field {
    padding-right: 155px;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-brand {
    max-width: 350px;
    margin-bottom: 0;
  }

  .footer-list {
    margin-bottom: 0;
  }
}

/**
 * responsive for larger than 1024px
 */

@media (min-width: 1024px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  /**
   * HEADER
   */

  header {
    top: -120px;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar {
    position: static;
    visibility: visible;
    box-shadow: none;
    padding: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .navbar-link {
    position: relative;
  }

  .navbar-link::after {
    --scale: 0;

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    transform-origin: left;
    width: calc(100% - 20px);
    height: 2px;
    background: var(--gradient);
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .navbar-link:is(:hover, :focus)::after {
    --scale: 1;
  }

  .navbar-actions {
    gap: 10px;
  }

  .navbar-actions .btn {
    background: var(--blue-ryb);
    padding: 15px 25px;
    transition: background var(--transition);
  }

  .navbar-actions .btn:is(:hover, :focus) {
    background: hsl(221, 100%, 40%);
  }

  .navbar::before,
  .overlay {
    display: none;
  }

  /**
   * HERO
   */

  .hero-content {
    max-width: 680px;
    margin-inline: auto;
  }

  /**
   * PODCAST
   */

  .podcast-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * NEWSLETTER
   */

  .newsletter-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .newsletter-card .card-content,
  .card-form {
    width: 50%;
  }

  .newsletter-card .card-text,
  .newsletter-card .input-field {
    margin-bottom: 0;
  }
}

/**
 * responsive for larger than 1200px
 */

@media (min-width: 1200px) {
  :root {
    /**
     * spacing
     */

    --section-padding: 60px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1200px;
  }

  /**
   * HEADER
   */

  header {
    padding-block: 25px;
  }

  header .container {
    max-width: 1300px;
  }

  .navbar {
    gap: 20px;
  }

  .navbar-actions .btn {
    margin-left: 20px;
  }

  /**
   * HERO
   */

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding-top: 160px;
  }

  .hero-content {
    width: 95%;
    margin-inline: 0;
  }

  .hero-title {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero-text {
    margin-bottom: 25px;
  }

  .hero-btn-group {
    flex-wrap: wrap-reverse;
    gap: 35px;
  }

  .hero :is(.btn-primary, .btn-title, .btn-link) {
    --fs-4: 17px;
  }

  .hero-banner {
    display: block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/hero-banner.png") no-repeat;
    background-size: cover;
    border-radius: 100px;
  }

  /**
   * PODCAST
   */

  .podcast-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * FOOTER
   */

  .footer-link-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .social-title {
    margin-left: auto;
    margin-bottom: 35px;
  }

  .social-link {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }
}
