.blog {
  padding-block-start: 0;
}

.blog .section-text {
  margin-block: 15px 50px;
}

.blog-card {
  text-align: center;
  border: 1px solid var(--white-1);
  padding: 10px;
}

.blog-card .card-content {
  padding: 0 15px 10px;
}

.blog-card .h3 {
  font-size: var(--fs-4);
  font-weight: var(--fw-400);
  margin-block: 25px 20px;
}

.blog-card .card-title {
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--maximum-blue-green);
}

.blog-card .card-meta-list {
  display: flex;
  justify-content: center;
  padding-block: 15px 20px;
  border-block-start: 1px solid var(--white-1);
}

.blog-card .meta-item {
  display: flex;
  align-items: center;
  color: var(--spanish-gray);
}

.blog-card .meta-link {
  font-size: var(--fs-7);
  transition: var(--transition-1);
}

.blog-card a.meta-link:is(:hover, :focus) {
  color: var(--maximum-blue-green);
}

.blog-card .meta-item:not(:last-child)::after {
  content: "/";
  display: block;
  margin-inline: 8px;
}

.blog-card .card-text {
  font-size: var(--fs-6);
  margin-block-end: 15px;
}

.blog-card .btn {
  margin-inline: auto;
  padding-block: 12px;
}
