.feature {
  margin-top: 50px;
  padding-block: 0;
}

.feature-card {
  background-color: var(--oxford-blue);
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.feature-card .card-icon {
  width: 60px;
  flex-shrink: 0;
}

.feature-card:hover .card-icon {
  animation: shake-lr 0.5s var(--cubic-anim) both;
}

@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0);
    transform-origin: 50% 50%;
  }

  10%,
  90% {
    transform: rotate(4deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-6deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(6deg);
  }

  80% {
    transform: rotate(-4deg);
  }
}

.feature-card .card-title {
  margin-block-end: 5px;
}

.featured .section-text {
  margin-block: 10px 50px;
}

.featured .grid-list {
  gap: 10px;
}
