.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-jost);
  font-weight: var(--fw-500);
  line-height: 1.25;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-6);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.btn {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  max-width: max-content;
  border: 1px solid var(--white-1);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 30px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.btn ion-icon {
  font-size: 16px;
}

.btn:is(:hover, :focus) {
  background-color: var(--maximum-blue-green);
  border-color: var(--maximum-blue-green);
}

.w-100 {
  width: 100%;
}

.grid-list {
  display: grid;
  gap: 20px;
}

.section-title,
.section-text {
  text-align: center;
}

.section-text {
  font-size: var(--fs-6);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card {
  position: relative;
  border: 1px solid var(--white_10);
}

.product-card .card-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: var(--maximum-blue-green);
  color: var(--xiketic);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  padding: 3px 8px;
  border-radius: var(--radius-pill);
}

.product-card .card-banner {
  position: relative;
}

.product-card .card-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: var(--xiketic);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-2);
  opacity: 0;
}

.product-card:is(:hover, :focus) .card-action {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.product-card .action-btn {
  font-size: 18px;
  transition: var(--transition-1);
}

.product-card :is(.action-btn, .card-title):is(:hover, :focus) {
  color: var(--maximum-blue-green);
}

.product-card .card-content {
  padding: 10px;
}

.product-card .h3 {
  font-weight: var(--fw-400);
}

.product-card .card-title {
  font-family: var(--ff-jost);
  transition: var(--transition-1);
}

.product-card .card-price {
  color: var(--maximum-blue-green);
  margin-block: 10px 5px;
}

.product-card .rating-wrapper {
  display: flex;
  gap: 5px;
  color: var(--selective-yellow);
}

.product-card .rating-wrapper ion-icon {
  --ionicon-stroke-width: 45px;
}

.has-scrollbar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
  margin-block-end: -20px;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--white-1);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--white-1);
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 10%;
}
