@media (max-width: 360px) {
  .feature-banner-bg {
    width: 100%;
  }
}

/**
 * responsive larger than 360px screen
 */

@media (min-width: 360px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 42px;
    --fs-2: 32px;
  }
}

/**
 * responsive larger than 450px screen
 */

@media (min-width: 450px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 48px;
    --fs-2: 36px;
    --fs-3: 24px;
  }

  /**
   * FEATURES
   */

  .feature-banner-bg {
    width: 150%;
  }

  /**
   * OVERVIEW
   */

  .overview-content {
    padding: 0 40px 50px;
  }

  /**
   * BLOG
   */

  .blog-title {
    --fs-2: 32px;
  }

  .blog-post-title {
    --fs-3: 22px;
  }
}

/**
 * responsive larger than 600px screen
 */

@media (min-width: 600px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 52px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    margin: auto;
  }

  /**
   * BLOG
   */

  .blog-banner {
    height: 300px;
  }

  .blog-title {
    --fs-2: 42px;
  }

  /**
   * FOOTER
   */

  .footer-brand {
    margin-bottom: 40px;
  }

  .footer-link-box {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 700px;
  }

  /**
   * DOWNLOAD
   */

  .download-list {
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    margin: auto;
    gap: 80px;
  }

  /**
   * FEATURES
   */

  .features-item {
    max-width: 450px;
    margin-inline: auto;
    text-align: center;
  }

  .feature-banner-bg {
    width: 170%;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 970px;
  }

  /**
   * HEADER
   */

  .navbar {
    position: static;
    visibility: visible;
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .nav-open-btn,
  .nav-close-btn {
    display: none;
  }

  .navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-link {
    position: relative;
  }

  .navbar-link:hover {
    background: none;
  }

  .navbar-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    background: transparent;
    width: 50%;
    height: 2px;
  }

  .navbar-link:hover::before {
    background: var(--white);
  }

  .navbar .btn-primary {
    display: block;
    margin-left: 15px;
  }

  /**
   * HERO
   */

  .hero {
    position: relative;
  }

  .hero-content {
    width: 50%;
  }

  .hero-banner {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    background: url("../images/hero.png") no-repeat;
    background-size: contain;
    width: 70%;
    padding-bottom: 50%;
  }

  /**
   * FEATURES
   */

  .features {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .features-list:first-child li {
    text-align: right;
  }

  .features-list:last-child li {
    text-align: left;
  }

  /**
   * OVERVIEW
   */

  .overview-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .overview-banner img {
    max-width: 380px;
  }

  .overview-content {
    width: 55%;
    padding: 40px;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-banner {
    height: 200px;
  }

  /**
   * FOOTER
   */

  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-btn-group {
    margin-left: 20px;
  }
}

/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 60px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1140px;
  }

  /**
   * HERO
   */

  .hero {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  .hero-banner {
    top: 55%;
    right: -50px;
  }

  /**
   * BLOG
   */

  .blog {
    padding-bottom: 150px;
  }

  /**
   * FOOTER
   */

  footer .container {
    padding: 100px 15px;
  }
}
