.container {
  padding-inline: 15px;
}

.h1,
.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-800);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-5);
}

.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  max-width: max-content;
  padding: var(--padding-y, 13px) 28px;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
}

.btn-primary {
  color: var(--white);
  background-color: var(--ultramarine-blue);
  font-size: var(--fs-6);
  border-radius: var(--radius-pill);
  transition: var(--transition);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--blue-ryb);
}

.w-100 {
  width: 100%;
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  margin-block-end: 24px;
}

.text-center {
  text-align: center;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.bg-gray {
  background-color: var(--eerie-black-1);
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.btn-link > * {
  transition: var(--transition);
}

.btn-link:is(:hover, :focus) {
  color: var(--ultramarine-blue);
}

.btn-link:is(:hover, :focus) ion-icon {
  transform: translateX(5px);
}
